<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Чаты </p>
    <div>
        <div>
            <ul>
                {% for rieltor in rieltors %}
                <li>
                    <a href="{{url_for('client.show_chat',rieltor_id=rieltor.id)}}">
                        <span class="r-name">{{rieltor.username}}</span>
                        <span class="last-msg">{{last_message}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        {% block content %}
        {% endblock %}
        
    </div>
</body>
</html>