<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
            <p>{{current_user.username}}</p>
            <a href="{{url_for('auth.logout')}}"> Выход</a>
    </div>
    <p> Чаты </p>
    <div>
        <div>
            <ul>
                {% for chat in chats%}
                <li>
                    <a href="{{url_for('rieltor.show_chat',client_id=chat.client_id)}}">
                        <span class="r-name">{{chat.client.username}}</span>
                        <span class="last-msg">{{chat.last_message}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        {% block content %}
        {% endblock %}
        
    </div>
</body>
</html>