{%extends 'base.html'%}

{% block header%}

<h1>Главная страница</h1>

<div>
    {% set route = url_for('client.profile')  %}
    {% if current_user.is_authenticated%}
        <a href="{{route}}">Личный кабинет</a>
        <a href="{{url_for('auth.logout')}}"> Выход</a>
    {%else%}
        <a href="{{url_for('auth.login')}}"> Войти</a>
    {% endif %}  
</div>
{% endblock %}



{% block content%}    
 <ul>
    {% for rieltor in rieltors %}
    <li class="rieltor-card">
        <p class="info-rieltor">{{rieltor.username}}</p>
        <p class="info-rieltor">{{rieltor.phone}}</p>
        <p class="info-rieltor">{{rieltor.experience}}</p>
        <p class="info-rieltor">{{rieltor.info}}</p>
        <p class="info-rieltor">{{rieltor.company}}</p>
        <a class="contact_btn" href="{{url_for('client.connect',rieltor_id = rieltor.id)}}"> Связаться </a>
    </li>
    {% endfor %}
 </ul>
{% endblock %}